@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lato", sans-serif;
}

.arabic-font {
  font-family: "Fustat", sans-serif !important;
}

.headerstrip-main {
  background-image: url("../../../public//images//headertop-bg.webp");
  background-position: center;
}

.SMN_effect-33 li {
  overflow: visible;
  padding: 0.25em 0.4em;
  height: 100px;
  display: flex;
  align-items: center;
}

.SMN_effect-33 li:before,
.SMN_effect-33 li:after {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  background: #592404;
  content: "";
  position: absolute;
}

.SMN_effect-33 li:before {
  top: -3px;
  left: -webkit-calc(50% - 0.3em);
  left: calc(50% - 0.3em);
  width: 0.6em;
  height: 0.6em;
  border-radius: 1.2em;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.SMN_effect-33 li:after {
  top: 0%;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.SMN_effect-33 li:hover:before {
  webkit-transform: scale(1);
  transform: scale(1);
}

.SMN_effect-33 li:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hero-swiper .swiper-pagination-bullet , .reviews-slider .swiper-pagination-bullet  {
  width: 15px !important;
  height: 15px !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: white !important;
  opacity: 9 !important;
}
.hero-swiper .swiper-pagination-bullet-active{
  background-color: #592404 !important;
}

 .reviews-slider .swiper-pagination-bullet  {
  width: 8px !important;
  height: 8px !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: white !important;
  opacity: 9 !important;
  box-shadow: 0 0 10px #0000004d;
}

.reviews-slider .swiper-pagination-bullet-active{
  background-color: #592404 !important;
}

.hero-swiper .swiper-button-prev.swiper-button-disabled,
.hero-swiper .swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.hero-swiper .swiper-button-next,
.swiper-rtl .hero-swiper .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
.hero-swiper .swiper-button-next,
.swiper-rtl .hero-swiper .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
.hero-swiper .swiper-button-prev,
.swiper-button-next {
  width: 20px !important;
  height: 20px !important;
  color: white !important;
}

.hero-swiper .swiper-button-next,
.swiper-rtl .hero-swiper .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 80px) !important;
  left: auto;
}

.hero-swiper .swiper-button-prev {
  right: auto;
  left: var(--swiper-navigation-sides-offset, 80px) !important;
}

.hero-swiper .swiper-button-prev:after,
.hero-swiper .swiper-button-next:after {
  font-size: 20px !important;
  font-weight: 900 !important;
}

.single-product {
  box-shadow: 0 5px 20px -10px #0000001a;
}

.mySwiper2 {
  position: relative;
}

.mySwiper3 .swiper-button-prev:after,
.mySwiper3 .swiper-button-next:after,
.new-products .swiper-button-prev:after,
.new-products .swiper-button-next:after {
  font-size: 16px !important;
  color: black !important;
  width: 36px !important;
  height: 36px !important;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper3 .swiper-button-prev,
.mySwiper3 .swiper-rtl .swiper-button-ext,
.new-products .swiper-button-prev,
.new-products .swiper-rtl .swiper-button-ext {
  left: 0px !important;
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0px !important;
  left: auto;
}

/* .mySwiper3 .swiper-button-prev,
.mySwiper3 .swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: 36px !important;
  height: 36px !important;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
} */

.mySwiper3 .swiper-wrapper {
  height: 90px;
}

.cat-sec {
  grid-gap: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cat-sec .single-cat-box {
  border-radius: 3px;
  box-shadow: 0 5px 20px -10px #0000001a;
}

.features-main {
  grid-gap: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.all-products {
  grid-gap: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.new-products .swiper-button-next,
.new-products .swiper-button-prev,
.product-slideImage .swiper-button-next,
.product-slideImage .swiper-button-prev {
  width: 36px !important;

}

.header-body {
  box-shadow: 0 5px 20px -10px #0000001a;
 border-bottom: 1px solid rgb(240, 240, 240);
}



@media screen and (max-width: 768px) {
  .hero-swiper .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
  .hero-swiper .swiper-button-next,
  .hero-swiper .swiper-button-prev {
    display: none !important;
  }

  .mySwiper3 .swiper-wrapper {
    height: auto;
  }


}


@media screen and (max-width: 540px) { 
  .features-main {
    grid-gap: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .all-products {
    grid-gap: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width:541px) and (max-width: 1023px) { 
  .all-products {
    grid-gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}