
body{
  background-color: white;
}
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
  }
  
  .shake-loop {
    animation: shake 3s infinite;
  }
  
  .shake-loop:hover {
    animation: none;
  }


  .checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-46 .cbx {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #3cc150;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transform: translate3d(0, 0, 0);
  }
  
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #3cc150;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition: all 0.4s ease;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #3cc150;
    border-color: #3cc150;
    animation: wave-46 0.4s ease;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
  

  .product-desc img {
    margin: auto;
    width: 100%;
  }